*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: #4B0082;  
  --color-accent: #FFBF00;    
  --color-background: #FFFDD0; 


  --font-heading: "Playfair Display", serif;
  --font-body: "Noto Sans", sans-serif;
}


body {
  background-color: var(--color-background);
  color: #171717; 
}